#headshot {
  width: 90%;
  height: 90%;
  padding: 5% 5%;
  border: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  background-color: rgb(85, 85, 85);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(4, 128, 143)
}

h1 {
  font-size: 90px;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

h6 {
  font-size: 12px;
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

#email {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  color: white;
}

#github {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  color: rgb(4, 128, 143);
}

#linkedin {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  color: rgb(4, 128, 143);
}

#resume {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  color: rgb(4, 128, 143);
}

small {
  font-size: 90%;
}

blockquote {
  margin: 0;
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  margin-top: 0px;
  padding: 0;
  width: 20%;
  background-color: rgb(50, 50, 50);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: #fff;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-size: 24pt;
}

ul.sidenav li a.active {
  background-color: rgb(1, 105, 117);
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 25%;
  /* margin-top: 12%; */
  position: relative;
  /* top: 1px; */
  padding: 1px 16px;
  min-height: 100vh;
  height: max-content;
  width: 70%;
  text-align: center;
}

div.content h1 {
  margin-top: 30%;
}

div.container {
  display: grid;
  align-items: center;
  grid-template-columns: 17% 33% 33% 17%;
  grid-template-areas: 'a b c d';
  column-gap: 5px;
  width: 100%;
  justify-content: center;
}

div.icons a svg {
  height: 50px;
  width: 50px;
  stroke: rgb(4, 128, 143);
  fill: rgb(4, 128, 143);
}

div.info a svg {
  height: 80px;
  width: 80px;
  stroke: white;
  fill: white;
}

div img {
  max-width: 100%;
  max-height: 100%;
  grid-area: a;
}

div img.logo {
  max-width: 100%;
  max-height: 100%;
  grid-area: a;
  float: right;
  margin-left: auto;
  border-radius: 15px;
}

a:link {
  color: rgb(4, 128, 143);
}

a:visited {
  color: rgb(1, 105, 117);
}

a:hover {
  color: rgb(1, 105, 117);
}

a:active {
  color: rgb(1, 105, 117);
}

#ratsvid {
  float: right;
  margin-left: auto;
}

#schoolinfo,
#google,
#tesla,
#alpha,
#rats {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  font-size: 2vw;
}

/* #rats {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  font-size: 2vw;
} */

#goog_date,
#tesla_date {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  font-size: 2vw;
}



#paragraph {
  font-size: 20pt;
  margin-top: 2%;
}

div.info {
  background-color: rgb(50, 50, 50);
  padding: 15pt;
  border-radius: 20pt;
}

div.section ul {
  display: inline-block;
}

div.section li {
  text-align: left;
  font-size: 20pt;
}

div.section {
  width: 70%;
  height: max-content;
  min-height: 100vh;
  padding: 1px;
  position: relative;
  text-align: center;
  margin-left: 25%;
}

div.section p {
  font-size: 12pt;
}

@media screen and (max-width: 900px) {
  #rats_grid {
    display: grid;
    align-items: center;
    grid-template-columns: 17% 33% 33% 17%;
    grid-template-areas: 'a b c d';
    column-gap: 5px;
    width: 100%;
    justify-content: center;
  }

  /* #rats {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    font-size: 5vw;
  } */

  ul.sidenav {
    width: 100%;
    height: auto;
    position: sticky;
    z-index: 10;
  }

  ul.sidenav li a {
    float: left;
    padding: 15px;
  }

  div.section {
    margin-left: 15%;
  }

  div h1 {
    font-size: 40pt;
    width: 100%;
  }

  div p {
    font-size: 20pt;
  }

  #paragraph {
    font-size: 15pt;
  }

  #headshot {
    width: 0px;
    height: 0px;
    padding: 0px 0px;
    margin: 0px;
    position: absolute;
    z-index: -1;
  }

}

@media screen and (max-width: 730px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
    font-size: 18px;
    padding: 8px;
  }

  #headshot {
    width: 0px;
    height: 0px;
    padding: 0px 0px;
    margin: 0px;
  }

  /* #home,
  #about,
  #exp,
  #proj,
  #skills {
    height: 1000px;
    margin: auto;
    width: 80%;
    padding-top: 250px;
  } */
}