<!DOCTYPE html>
<html>

<head>
  <title>Zach Garcia</title>
  <link rel="icon" href="/../assets/files/favicon.svg" sizes="any">
  <link rel="stylesheet" href="/../assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Ubuntu:wght@500&display=swap"
    rel="stylesheet">
</head>

<body>



  <ul class="sidenav" id="navlist">
    <li>
      <img id="headshot" src="../assets/files/Headshot.jpg">
    </li>
    <li>
      <a class="btn" href="#home">Home</a>
    </li>
    <li>
      <a class="btn" href="#about">About Me</a>
    </li>
    <li>
      <a class="btn" href="#exp">Experience</a>
    </li>
    <li>
      <a class="btn" href="#proj">Projects</a>
    </li>
    <li>
      <a class="btn" href="#skills">Skills</a>
    </li>
  </ul>

  <div class="section content" id="home">
    <h1 id="name">Zach Garcia</h1>
    <!-- <p>zachagarcia@gmail.com</p> -->
    <!-- <a id="email" target="_blank" rel="nofollow" href="mailto:zachagarcia@gmail.com">zachagarcia@gmail.com</a>
    <br>
    <a id="github" target="_blank" rel="nofollow" href="https://github.com/ZachGarcia42">Github</a>
    <br>
    <a id="linkedin" target="_blank" rel="nofollow" href="https://www.linkedin.com/in/zachgarcia42">LinkedIn</a>
    <br>
    <a id="resume" target="_blank" rel="nofollow" href="../assets/files/Zach Garcia Resume.pdf">Resume</a>
    <br> -->
    <div class="icons" id="icons">
      <a id="linkedin_icon" href="https://www.linkedin.com/in/zachgarcia42" target="_blank">
        <svg viewBox="-1, -1, 26, 26">
          <path
            d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 3.476v6.759z" />
        </svg>
      </a>
      <a id="github_icon" href="https://github.com/ZachGarcia42" target="_blank">
        <svg viewBox="-1, -1, 26, 26">
          <path
            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
        </svg>
      </a>
      <a id="resume_icon" href="../assets/files/Zach Garcia Resume.pdf" target="_blank">
        <svg viewBox="180, 50, 330, 450">
          <path
            d="m186.67 70v420h228.66v-98h98v-322zm70 46.668c6.1875 0 12.121 2.457 16.496 6.832 4.3789 4.375 6.8359 10.312 6.8359 16.5s-2.457 12.125-6.8359 16.5c-4.375 4.375-10.309 6.832-16.496 6.832-6.1914 0-12.125-2.457-16.5-6.832s-6.8359-10.312-6.8359-16.5 2.4609-12.125 6.8359-16.5 10.309-6.832 16.5-6.832zm0 58.332c9.2812 0 18.184 3.6875 24.746 10.25 6.5664 6.5664 10.254 15.469 10.254 24.75h-70c0-9.2812 3.6875-18.184 10.25-24.75 6.5625-6.5625 15.465-10.25 24.75-10.25zm221.67 186.67h-256.67v-11.668h256.67zm0-46.668h-256.67v-11.668h256.67zm0-46.668h-256.67v-11.664h256.67zm0-58.332h-163.33l-0.003906-11.668h163.33zm0-46.668h-163.33l-0.003906-11.664h163.33z" />
          <path d="m426.86 490 86.473-86.473h-86.473z" />
        </svg>
      </a>
      <a id="email icon" href="mailto:zachagarcia@gmail.com" target="_blank">
        <svg viewBox="10, 150, 1000, 700">
          <path
            d="M928 160H96c-17.7 0-32 14.3-32 32v640c0 17.7 14.3 32 32 32h832c17.7 0 32-14.3 32-32V192c0-17.7-14.3-32-32-32zm-40 110.8V792H136V270.8l-27.6-21.5 39.3-50.5 42.8 33.3h643.1l42.8-33.3 39.3 50.5-27.7 21.5zM833.6 232L512 482 190.4 232l-42.8-33.3-39.3 50.5 27.6 21.5 341.6 265.6a55.99 55.99 0 0 0 68.7 0L888 270.8l27.6-21.5-39.3-50.5-42.7 33.2z" />
        </svg>
      </a>
    </div>
  </div>

  <div class="section" id="about" data-section="about">
    <h1>About Me</h1>
    <div class="info">
      <div class="container">
        <img src="../assets/files/cornell-logo.png">
        <p id="schoolinfo">
          Cornell University '25 <br>
          Major: Computer Science <br>
          Minor: Robotics <br>
          GPA: 4.10 <br>
        </p>
      </div>
      <p id="paragraph">
        Hello! I'm Zach Garcia, a CS and ECE double major at Cornell University
        interning at Google this summer. At Cornell, I am a member of the Cornell
        Rocketry Team, working on software for our ground station and LoRa
        Communications with the rocket. I also work on flight software for Alpha
        CubeSat in the Space Systems Design Studio, and I am the president of
        Amateur Radio Club at Cornell, where we research Software Defined Radios.
        <br>
        <br>
        I hope to work on impactful solutions to engineering problems concerning
        space exploration, sustainability, and artificial intelligence.
      </p>
    </div>
  </div>

  <div class="section" id="exp" data-section="experience">
    <h1>Experience</h1>
    <br>
    <div class="info">
      <div class="container">
        <img class="logo" src="../assets/files/Zach Google.jpg">
        <p id="google">
          Google Cloud Storage <b>Sunnyvale, CA</b> | SWE Intern
        </p>
        <p id="goog_date" class="date"> May 2022 - Aug. 2022</p>
      </div>

      <br>
      <p>
        During my time at Google, I learned a great deal about software development, including Google's developer
        workflow, version control, C++ RPC frameworks, and software testing. One of the most important things I learned
        at Google was the importance of collaboration. In order to be successful, I needed to work effectively with the
        other members of my team. That meant being able to communicate clearly, share ideas, and give and receive
        feedback. I also learned a great deal about Google's developer workflow. This workflow involved version control,
        code reviews, and testing. The workflow also includes a number of other tools and practices that help to improve
        development velocity and reliability. Finally, I learned a great deal about C++ RPC frameworks. These frameworks
        allow for the easy and efficient communication between different parts of an application. This has improved
        development velocity and reliability by making it easier to develop and test applications. In addition to the
        above, I also upgraded the test suite to be hermetic and deterministic, which reduced runtime by 60% and
        eliminated flakiness.
      </p>
      <br>
      <br>
      <br>
      <div class="container">
        <img class="logo" src="../assets/files/Tesla.jpg">
        <p id="tesla">
          Tesla <b>Pittsburgh, PA</b> | Tesla Advisor
        </p>
        <p id="tesla_date" class="date"> May 2022 - Aug. 2022</p>
      </div><br>
      <p>
        I learned important interpersonal, conflict management, and communication skills at Tesla while educating
        clients about the benefits of electric vehicles to capture leads on the sales floor and delivering 50+ vehicles
        and detailing 100+ vehicles. On the sales floor, I learned how to build rapport with clients, listen to their
        needs, and present the benefits of electric vehicles in a way that was both informative and persuasive. I also
        learned how to handle objections and negotiate effectively. In my delivery and detailing roles, I learned how to
        work with a variety of people, including clients, technicians, and other salespeople. I also learned how to
        manage my time effectively and how to work under pressure.
      </p>
      </p>
    </div>
  </div>

  <div class="section" id="proj">
    <h1>Projects</h1>
    <br>
    <div class="info">
      <div class="container">
        <img class="logo" src="../assets/files/SSDS.jpg">
        <p id="alpha">
          Alpha CubeSat Flight Software
        </p>
      </div>
      <p class="org">Space Systems Design Studio</p>
      <p>
        I have experience in writing robust software for CubeSat operations in space. While working on the Space System
        Design Studio's Alpha CubeSat, I wrote software for the IMU and Camera report managers. I also tested and
        repaired these managers after the addition of the State Field Registry. Additionally, I added the capability to
        invalidate erroneous button readings to improve deployment detection. My experience in writing software for
        CubeSats has given me a strong understanding of the challenges involved in operating software in space.
      </p>
      <br>
      <a href="https://github.com/Alpha-CubeSat/oop-flight-code/tree/main/src" target="_blank">
        <svg viewBox="-1, -1, 26, 26">
          <path
            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
        </svg>
      </a>
      <br>
      <br>
      <br>
      <div class="container" id="rats_grid">
        <img class="logo" src="../assets/files/Rocketry.jpg">
        <p id="rats">
          Rotational Antenna Tracking System
        </p>
      </div>
      <p class="org">Cornell Rocketry Team<br>
      <p>
        As a member of the Cornell Rocketry team, I have developed and implemented a variety of rocket technologies. For
        example, I developed an algorithm to track the rocket with a directional antenna during flight that used the
        rocket's telemetry data to calculate where to <a id="short"
          href="https://youtube.com/shorts/Xi2OhtbPn3E?feature=share" target="_blank">aim the antenna.</a> I also
        implemented LoRa communications that
        received packets from 2 miles away. Finally, I added Reed-Solomon forward error correction to improve packet
        reception. My experience in developing and implementing rocketry technologies has given me a strong
        understanding of the challenges involved in designing and building rockets.
      </p>
      </p>
      <br>
      <a href="https://github.com/ZachGarcia42/RATS-Software" target="_blank">
        <svg viewBox="-1, -1, 26, 26">
          <path
            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
        </svg>
      </a>
    </div>
  </div>

  <div class="section" id="skills">
    <h1>Skills</h1>
    <div class="info">
      <p>
        Coding: <br>
        C++ | C | Java | Kotlin | Python | Arduino | OCaml | HTML | CSS <br>
        <br>
        Other Software: <br>
        Altium | Visual Studio Code | Arduino IDE | LaTeX <br>
      </p>
    </div>
  </div>
  <script src="../assets/scripts/btnHighlight.js"></script>

</body>

</html>